# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Django runtime
staticfiles/
media/

# Environment
.env

# Docker persisted data
postgres/data/*
!postgres/data/.gitkeep
mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/log/*
!mosquitto/log/.gitkeep

